[keys]
play_pause=XF86AudioPlay
prev_stream=XF86AudioLowerVolume
next_stream=XF86AudioRaiseVolume
status=XF86Tools
prev_in_stream=XF86AudioPrev
next_in_stream=XF86AudioNext
clear_queue=<Mod1>B
search=<Mod1>V
